Package: com.sohday67.youskipsilence
Name: YouSkipSilence
Version: 1.0.0
Architecture: iphoneos-arm
Description: Automatically skips silent parts of YouTube videos by speeding through them. Inspired by the skip-silence browser extension.
Maintainer: Sohday67
Author: Sohday67
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 11.0), com.ps.ytvideooverlay (>= 2.0.0)
