Package: com.yours.you-skipsilence
Name: YouSkipSilence
Version: 0.1.0
Architecture: iphoneos-arm
Description: Automatically speeds up silent parts of YouTube videos.
Maintainer: You
Author: You
Section: Tweaks
Depends: mobilesubstrate, preferenceloader, com.tonwalter888.ytliteplusextra, com.poomsmart.ytvideooverlay
